# This workflow will do a clean installation of node dependencies, cache/restore them, build the source code and run tests across different versions of node
# For more information see: https://docs.github.com/en/actions/automating-builds-and-tests/building-and-testing-nodejs

name: Node.js CI

on:
  push:
    branches: [ "main", "dev" ]
  pull_request:
    branches: [ "main", "dev" ]

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [16.x, 18.x]
        # See supported Node.js release schedule at https://nodejs.org/en/about/releases/

    steps:
    - uses: actions/checkout@v3
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}  
    - name: Run install
      uses: borales/actions-yarn@v4
      with:
        cmd: install # will run `yarn install` command
      env:
         NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }} # if needed
    - name: Build production bundle
      uses: borales/actions-yarn@v4
      with:
         cmd: build:prod # will run `yarn build:prod` command
    - name: Test the app
      uses: borales/actions-yarn@v4
      with:
        cmd: test # will run `yarn test` command
    - name: Run test in sub-folder
      uses: borales/actions-yarn@v4
      with:
        cmd: test
        dir: 'src'
